.getinvolved__container{
  margin-top: 66px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Poppins";
  gap: 1rem;
}

.bg-light{
  background: rgba(211, 211, 211, 0.4) !important;
}

.btn{
  font-size: .75rem;
  padding: 1rem 1.2rem;
}

@media (min-width: 375px) and (max-width: 768px){
  .getinvolved__container{
    display: block !important;
  }

  .btn{
    display: block;
    margin: 1rem;
  }
}