.custom{
  width: 100% !important;
  height: 100vh;
  background-image: url('/public/imgs/Hero.jpg') !important;
  background-size: cover !important;
  background-color: darkslategray;
  background-blend-mode: overlay;
}

.hero__text{
  margin-top: 66px !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero__title{
  text-transform: uppercase;
  font-family: 'Poppins';
  padding-bottom: 15px;
}

@media (max-width: 576px){
  .custom{
    height: 50vh
  }
  
  .hero__card-text{
    display: none;
  }
}