/* .navbar-bg{
  background-color: white !important;
  color: black !important;
} */

.navbar-nav{
  margin-left: auto;
}

.nav-link, .navbar-brand{
  padding: 10px 20px !important;
  font-family: 'Poppins' sans-serif !important;
}

.nav-link:hover{
  background-color: lightgrey !important;
  color: black !important;
}


.navbar-brand{
  font-weight: 700;
}

.nav-link{
  font-size: 13px !important;
}

.navbar-toggler{
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.navbar-toggler:focus{
  box-shadow: none !important;
}

.text-color{
  color: white;
}



