.socialLinks__container{
  display: flex;
  justify-content: space-evenly;
  background-image: url('./maize.jpg');
  background-blend-mode: overlay;
  padding: 30px 20px;
  background-size: cover;
  font-family: 'Poppins';
  flex-wrap: wrap;
}

.contact__icon{
  margin-inline: 15px;
}

.contacts{
  margin-bottom: 30px;
  font-size: 13px;
}

.social__icon{
  display: flex;
  justify-content: space-evenly;
  
}

.links > a{
  margin-inline: 20px;
}



